---
layout: site
title: Graham Babbitt
---  

#home
  %p This site is going to be built out shortly, but in the meantime feel free to<br /> check out my <a href="gbabbitt-resume.pdf">resume</a> or my <a href="http://www.linkedin.com/in/gmbabbitt">LinkedIn profile</a>.
